.map {
  width: 100%;
  height: 300px;
  margin-bottom: 5vh;
}

.recommend {
  margin: 20px;
  text-align: left;
  view {
    margin: 6px 0;
  }
}

.operation {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}
